extends ../layout


block body
  #home.container(style='max-width:800px;margin-top:100px;')
    .row
      .col-sm-4
        img.img-fluid(src='/public/assets/images/jenkins-logo.png', alt='jenkins')
      .col-sm-8
        .promotion
          h3 Jenkins Workshop
          
          form(method='post', action='/auth/register')
            fieldset.form-group
              label(for='coupon') 註冊碼
              input#coupon.form-control(type='text', placeholder='Coupon', name='[coupon][serial]')
            .form-group
              label(for='email') 帳號（Email）
              input#email.form-control(type='email', placeholder='Email', name='[user][email]')
            .form-group
              label(for='password') 密碼（Password）
              input#password.form-control(type='password', placeholder='Password', name='[user][password]')

            button#register.btn.btn-primary(type='submit', disabled) 註冊
            a.btn.btn-link(href='http://agileworks.tw/jenkins') 取消
      .col-xs-12
        .copyright
          | 創科資訊・敏捷軟體開發培訓
          br
          | Tel: (04)2201-9020
          br
          br
          | AgileWorks - Agile Programming Best Practices
          br
          | Copyright © Trunk Studio
  
  script(type='text/javascript').
    $(function(){
      $("#coupon").change(function(){
        var serial = $("#coupon").val();
        $.ajax({
          url: '/rest/coupon/check/',
          type: 'POST',
          data: {
            serial: serial
          },
          success: function(response) {
            console.log(response);
            
            if (response.success) {
              $('#coupon').removeClass('form-control-danger').parent().removeClass('has-danger');
              $('#coupon').addClass('form-control-success').parent().addClass('has-success');
              $('#register').prop('disabled', false);
            }
            else {
              $('#coupon').addClass('form-control-danger').parent().addClass('has-danger');
              $('#coupon').removeClass('form-control-success').parent().removeClass('has-success');
              alert(response.message);
              $('#register').prop('disabled', true);
            }
          }
        });
      });

    });
    
